:root {
    --clr-sidebar: #051e34;
    --clr-topbar: #1b72e8;
    --clr-grey: #6c757d;
    --clr-orange: #ff8f00;
    --header-height: 5rem;
}

html {
    overflow-y: auto;
}

header {
    height: var(--header-height);
    position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
    padding-left: 0.5rem;
    z-index: 1
}

header .container-fluid {
    height: var(--header-height);
}

header .contents {
    height: 100%;
}

header .input-group span,
header .input-group input {
    border: none;
    background-color: transparent;
}

header img.small {
    width: 60px;
}

nav {
    height: calc(100% - var(--header-height));
    background-color: var(--clr-sidebar);
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.my_navbar {
    height: calc(100vh - 5rem);
}

.my_navbar a {
    color: white;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
}

.my_navbar a i {
    flex: 0 0 20px;
    text-align: center;
}

.my_navbar li {
    transition: background-color 400ms;
    padding: 0.5rem 0;
    width: 100%;
}

.my_navbar li:hover {
    background-color: rgba(255,255,255,0.3);
    --bs-nav-link-hover-color: white;
}

main {
    position: fixed;
    top: var(--header-height);
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 2;
}

main .my_top {
    background-color: #1B72E8;
}

main .my_badge_text {
    font-size: 0.8rem;
    font-weight: normal;
    background-color: #165BBA;
}

main .new_student .add {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    border: 1px solid white;
}

main .offcanvas {
    overflow-y: auto;
    z-index: 100;
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

main .card img.avatar {
    width: 30px;
    height: 30px;
    aspect-ratio: 1 / 1;
}

main .card table .my_badge {
    font-size: 0.75rem;
    padding: 2px 5px;
    color: white;
}




@media (min-width: 576px) {
    nav {
        width: 130px;
    }
    
    main {
        width: calc(100vw - 130px);
        margin-left: 130px;
    }
}

@media (max-width: 575px) {
    nav {
        width: 60px;
    }

    main {
        width: calc(100vw - 60px);
        margin-left: 60px;
    }
}

@media (min-width: 992px) {
    main .new_student .offcanvas {
        --bs-offcanvas-width: 45vw;
    }
}

@media (max-width: 991px) {
    main .new_student .offcanvas {
        --bs-offcanvas-width: 100vw;
    }
}